html
{
    background: black;
}
header {
    text-align: center;
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    color:black;
}

article
{
	max-width: 768px;/
	padding: 20px;
	margin: 0 auto;
	display: inline;
}

.left{
    width: 65%;
	float: left;
	background: white;
    padding: 0px;
}

.left h2
{
    line-height:1.05em;
    font-size: 40px;
    
}

.right{
    width: 35%;
	float:right;
	background: darkred;
	text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px
}

.top-left
{
    padding-top: 0px;
    width: 96%;
    margin: 0 auto;
    font-size:30px;
    line-height: 30px;
}

.bottom-left
{
    padding-top: 0px;
    width: 96%;
    margin: 0 auto;
    font-size:30px;
    line-height: 30px;
}
.top-left p
{
    text-align: center;
    padding: 20px;
    border-color: black;
    border-style: groove;
    border-width: thick;
    border-radius: 4px;
}

.spacer{
    height:600px;
    width: 960px;
}

.nav-bar
{
	background: rgba(0,0,0,.5);
	display: block;
	align-content: center;
	width: 100%;
}

.bulletin
{   
    text-align: center;
    margin: 0 auto;
    background: rgba(255,62,0,.7);
}

.suncity
{
    text-align: left;
    width: 80px;
    height: 80px;
    margin-left: 7%;
    padding-top: 50px; 

}

.tab-links li
{ 
        padding:10px 30px;
        list-style: none;
        display: inline;

}
.tab-links a 
{
    border-color: black;
    padding: 10px 30px;
    display: inline-block;
    font-size: 21px;
    font-weight: 100;
    color: white; 
    text-decoration: none;
    
}
.tab-links a:hover
{
    color: black;
    background: white;
    font-weight: bolder;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
.dropdown-content a
{
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

.submitbtn
{
    float:none;
    width: 30%;
    padding: 5px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.submitbtn:hover
{
    font-weight: 900;
    width: 32%;
    background-color: #EBC944;
}

.bottom
{
    clear:both;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 
    text-align: center;
    background: black;
    color: white;
    display: inline-block;
}

.bottom .address
{
    text-align: center;
    width: 50%;
    float: left;

}
.bottom .hours
{
    width: 50%;
    text-align: center;
    float: right;
}
table
{
    text-align: center;
    margin-left: 30%
}

.footer
{
    text-align: center;
    clear: both;
    width: 100%;
    background:#ff794d;
    line-height: 1.85em;
    margin-bottom: 50px;
}

body 
{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5em;
	color: #545454;
	background-color: #ffffff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	display: run-in;
}
