html
{
    background: black;
}

header {
    text-align: center;
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    color:black;
}

/* nav-bar styles */
.nav-bar
{
	background: rgba(0,0,0,.5);
	display: inline-block;
	list-style: none;
	align-content: center;
	width: 100%;
}
.navbar-left
{
    width: 15%;
    justify-content: center;
}

.navbar-right{
    align-content: center;
    width: 85%;
    float: right;
}

.tab-links li
{ 
    margin: 0;
    display: inline-block;
}

.tab-links a 
{
    border-color: black;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    
}

.tab-links a:hover
{
    color: black;
    background: white;
    font-weight: bolder;
}
/* Main page content styles */
/* title section styles*/

.head-banner
{
    width: 100%;
    background-color: darkred;
    text-align: center;
}
.headimg
{
    width: 75%;
    max-width: 100%;
    padding: 10px;
    
}

.content
{
    text-align: center;
    margin: 0 auto;
}

.content-container
{
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}

.content-container h1
{
    padding-top: 60px;
    margin-top: 0;
    color: black;
    width: 100%;
    margin: 0 auto;
}
.content-container h3
{
    padding: 0px;
    color: black;
    margin-top: 0px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.content-container a
{
    text-decoration: none;
    color: red;
}


.text-box
{
    max-width: 65%;
    padding: 10px 30px 30px 30px;
    font-size: 20px;
    background: #EBC944;
    color: white;
    margin-top: 0;
    margin: 0 auto;
}
span.highlight
{
    padding: 2px;
    color: white;
    background-color: none;
}

.hours1
{
    font-size: 30px;
    line-height: 1.05em;
    max-width: 65%;
    margin: 0 auto;
    padding: 10px 0px;
}

.firsthour
{
    width: 50%;
    float: left;
}
.secondhour
{
    width: 50%;
    float: right;
}

.hours2
{
    font-size: 30px;
    line-height: 1.05em;
    max-width: 65%;
    margin: 0 auto;
}

.thirdhour
{
    width: 50%;
    float: left;
}

.fourthhour
{
    width: 50%;
    float: right;
}

.text-box span
{
    background-color: black;
    padding: 3px;
}

.content-container a
{
    color: red;
    padding:3% 
}
.content-container h1
{
    padding-bottom: 20px;
}

.ittdlink a
{
    color: red;
    padding:3% 46%;
    text-align: center;
    
}

.content-container a:hover
{
    color: white;
    font-weight: 600;
}

.content-container button
{
    padding: 5px;
    width: 25%;
    display: inline-block;
    border-radius: 19px;
    font-size: 100%;
    margin-bottom: 20px;
}

.callnow
{
    max-width: 65%;
    background: #EBC944;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    
    margin: 0 auto;
}

footer
{
    background: darkred;
    width: 100%;
    padding: 20px;
    height: 20px;
}

body 
{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.5em;
	color: #545454;
	background-color: #ffffff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

